{% extends "base.html" %} {% block head %}
<script
  src="https://cdn.counter.dev/script.js"
  data-id="bb924a97-31a1-4dfb-8076-3b1073b0ce8d"
  data-utcoffset="-7"
></script>
{% endblock head %} {% block title %}
<title>Whisper.Page | Privacy</title>
{% endblock title %} {% block page_title %}Privacy{% endblock page_title %} {%
block content %}

<div class="container mx-auto px-4">
  <!-- Privacy Policy Content -->
  <div class="bg-white rounded-lg shadow-md p-6 mb-2">
    <p class="mb-4 text-gray-700">
      Whisper.Page operates the
      <a href="https://whisper.page">https://whisper.page</a> website, which
      provides the SERVICE.
    </p>

    <p class="mb-4 text-gray-700">
      This page is used to inform website visitors regarding our policies with
      the collection, use, and disclosure of Personal Information.
    </p>

    <p class="mb-4 text-gray-700">
      If you choose to use our Service, then you agree to the collection and use
      of information in relation with this policy. The Personal Information that
      we collect are used for providing and improving the Service. We will not
      use or share your information with anyone except as described in this
      Privacy Policy.
    </p>

    <h3 class="text-xl font-semibold mb-2 text-gray-700">
      Information Collection and Use:
    </h3>

    <p class="mb-4 text-gray-700">
      We do not we do <b>NOT</b> track or store any file content or metadata
      that is uploaded to our service.
    </p>

    <h3 class="text-xl font-semibold mb-2 text-gray-700">Log Data:</h3>
    <p class="mb-4 text-gray-700">
      We want to inform you that whenever you visit our Service, we collect
      information that your browser sends to us that is called Log Data. Log
      Data collection only occurs on pages that are not Whisper Pages. This Log
      Data may include information such as your computer's Internet Protocol
      ("IP") address, browser version, pages of our Service that you visit, the
      time and date of your visit, the time spent on those pages, and other
      statistics.
    </p>

    <h3 class="text-xl font-semibold mb-2 text-gray-700">Service Providers:</h3>
    <p class="mb-4 text-gray-700">
      We may employ third-party companies and individuals due to the following
      reasons: To facilitate our Service; To provide the Service on our behalf;
      To perform Service-related services; or To assist us in analyzing how our
      Service is used. We want to inform our Service users that these third
      parties have access to your Personal Information. The reason is to perform
      the tasks assigned to them on our behalf. However, they are obligated not
      to disclose or use the information for any other purpose.
    </p>

    <h3 class="text-xl font-semibold mb-2 text-gray-700">
      Links to Other Sites:
    </h3>
    <p class="mb-4 text-gray-700">
      Our Service may contain links to other sites. If you click on a
      third-party link, you will be directed to that site. Note that these
      external sites are not operated by us. Therefore, we strongly advise you
      to review the Privacy Policy of these websites. We have no control over,
      and assume no responsibility for the content, privacy policies, or
      practices of any third-party sites or services.
    </p>

    <h3 class="text-xl font-semibold mb-2 text-gray-700">
      Changes to This Privacy Policy:
    </h3>
    <p class="mb-4 text-gray-700">
      We may update our Privacy Policy from time to time. Thus, we advise you to
      review this page periodically for any changes. We will notify you of any
      changes by posting the new Privacy Policy on this page. These changes are
      effective immediately, after they are posted on this page.
    </p>

    <h3 class="text-xl font-semibold mb-2 text-gray-700">Contact Us:</h3>
    <p class="mb-4 text-gray-700">
      If you have any questions or suggestions about our Privacy Policy, do not
      hesitate to
      <a
        href="/contact"
        class="font-normal text-gray-700 hover:text-gray-900 underline"
        >contact us</a
      >.
    </p>
  </div>
</div>

{% endblock content %}
