{% extends "base.html" %} {% block head %}
<meta name="robots" content="noindex, nofollow" />
<script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", async function () {
    document.getElementById("markdownPreview").textContent =
      "Performing client-side decryption...";

    let pyodide = await loadPyodide({
      indexURL: "https://cdn.jsdelivr.net/pyodide/v0.20.0/full/",
    });
    await pyodide.loadPackage("micropip");
    await pyodide.runPythonAsync(`
      import micropip
      await micropip.install('cryptography')
    `);

    let encryptionKeyBase64 = window.location.hash.substring(1);
    encryptionKeyBase64 = encryptionKeyBase64
      .replace(/-/g, "+")
      .replace(/_/g, "/");
    while (encryptionKeyBase64.length % 4) {
      encryptionKeyBase64 += "=";
    }
    let decryptedContent = await pyodide.runPythonAsync(`
      import base64
      from cryptography.hazmat.primitives.ciphers.aead import ChaCha20Poly1305

      encrypted_content_base64 = "${{ whisper_content }}"
      nonce_base64 = "${{ nonce }}"
      key_base64 = "${encryptionKeyBase64}"

      encrypted_content = base64.b64decode(encrypted_content_base64)
      nonce = base64.b64decode(nonce_base64)
      key = base64.b64decode(key_base64)

      def decrypt(encrypted_content, nonce, key):
          cipher = ChaCha20Poly1305(key)
          decrypted_content = cipher.decrypt(nonce, encrypted_content, None)
          return decrypted_content.decode('utf-8')

      try:
          decrypted_content = decrypt(encrypted_content, nonce, key)
      except Exception as e:
          decrypted_content = f"Decryption failed: {e}"
      decrypted_content
    `);

    let decryptedHtml = marked(decryptedContent);
    document.getElementById("markdownPreview").innerHTML = decryptedHtml;
  });

  function copyToClipboard() {
    const el = document.createElement("textarea");
    el.value = document.getElementById("markdownPreview").innerText;
    document.body.appendChild(el);
    el.select();
    document.execCommand("copy");
    document.body.removeChild(el);
  }
</script>

{% endblock head %} {% block title %}
<title>Whisper.Page | View Whisper</title>
{% endblock title %} {% block page_title %} {% endblock page_title %} {% block
content %} {% if destruct_upon_viewing == "0" %} {% if ttl_date %}
<div class="container mx-auto mt-6 text-center mb-6">
  <p class="text-neutral-700 mb-6">
    This Whisper Page will automatically expire on: <br />
    <span class="text-blue-900 font-semibold">
      {{ ttl_date }} UTC {% if ttl_minutes < 60 %} ({{ ttl_minutes }} minutes
      from now) {% else %} ({{ ttl_minutes // 60 + (ttl_minutes % 60 > 0) }}
      hours from now) {% endif %}
    </span>
  </p>
</div>
{% endif %} {% else %}

<div class="container mx-auto mt-6 text-center mb-6">
  <p class="text-neutral-700 mb-6">
    This Whisper Page was set to destruct upon viewing.<br />
    <span class="text-blue-900 font-semibold">
      When you leave this page, the content will be gone forever.
    </span>
  </p>
</div>

{% endif %}

<div class="container mx-auto px-4 mt-10">
  <textarea id="rawMarkdown" class="hidden"></textarea>
  <div
    id="markdownPreview"
    class="markdown-body resize-y w-full px-4 py-2 text-neutral-900 bg-white border mb-4"
    style="min-height: 258px; list-style-type: disc"
  ></div>
  <div class="flex justify-start mt-6">
    <button
      id="copyButton"
      onclick="copyToClipboard()"
      class="bg-blue-800 hover:bg-blue-700 px-8 py-3 rounded-md text-white font-bold transition ease-in-out duration-200 flex items-center shadow-md"
    >
      <i class="fas fa-copy mr-2"></i>
      Copy Whisper Content
    </button>

    {% if destruct_upon_viewing == "0" %}
    <form action="{{incoming_link}}destroy_whisper" method="post">
      <button
        type="submit"
        class="ml-4 bg-red-800 hover:bg-red-700 px-8 py-3 rounded-md text-white font-bold transition ease-in-out duration-200 flex items-center shadow-md"
        id="destroyWhisperButton"
      >
        <i class="fas fa-times mr-2"></i>
        Destroy Whisper Page Now
      </button>
    </form>
  </div>
  {% endif %}
</div>

{% endblock content %}
